<footer class="footer bg-dark py-3 mt-auto" data-bs-theme="dark">
  <div class="container text-center">
    <span class="text-body-secondary">
      &copy; YelpCamp <%= new Date().getFullYear() %> Created by Huzaifa Ghazali
    </span>
  </div>
</footer>
