<% layout('layouts/boilerplate') %> <% layout('layouts/boilerplate') %>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-6 offset-xl-3">
      <div class="card shadow">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80"
              class="img-fluid rounded-start h-100 w-100"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="text-center card-title">Register</h5>
              <form
                action="/register"
                class="validated-form"
                novalidate
                method="POST"
              >
                <!-- Username -->
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                    class="form-control"
                    type="text"
                    id="username"
                    name="username"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Please enter user name.</div>
                </div>

                <!-- Email -->
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    class="form-control"
                    type="email"
                    id="email"
                    name="email"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Please enter user email.</div>
                </div>

                <!-- Password -->
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    class="form-control"
                    type="password"
                    id="password"
                    name="password"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">
                    Please enter user password.
                  </div>
                </div>

                <div>
                  <button class="btn btn-success w-100">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
